{% extends 'base.html' %}

{% block content %}
  <h2 class="text-center">PRE-IDENTIFICACIÓN DE NECESIDADES DE COOPERACIÓN INTERNACIONAL</h2>

  <form method="POST">
    {% csrf_token %}

    <!-- Checkbox para necesidad identificada -->
     <p>¿Su dependencia ha identificado alguna necesidad de apoyo de la cooperación 
      internacional en el período {{reporte.periodo}}? </p>

    <div class="form-check mb-3">  
      <label for="necesidad_identificado">Si</label>
        <input type="checkbox" id="necesidad_identificado" name="necesidad_identificado" 
             {% if form.necesidad_identificado.value %} checked {% endif %}
             onclick="toggleFields()">
    </div>

    <!-- Campo de texto para necesidades identificadas -->
    <div class="form-group">
      <label for="{{ form.necesidades_identificadas.id_for_label }}">Mencione necesidades identificadas por su  dependencia como acciones para
        las cuales busca apoyo por parte de entidades de Cooperación Internacional.</label>
      {{ form.necesidades_identificadas }}
    </div>

    <!-- Checkbox para cooperante identificado -->
     <p>¿Su dependencia ha identificado un posible cooperante para apoyar estas necesidades?</p>
    <div class="form-check mb-3">
      
      <label for="cooperante_identificado">Si</label>
      <input type="checkbox" id="cooperante_identificado" name="cooperante_identificado" 
             {% if form.cooperante_identificado.value %} checked {% endif %}
             onclick="toggleFields()">
    </div>

    <!-- Campo de texto para cooperante -->
    <div class="form-group mb-3">
      <label for="{{ form.cooperante.id_for_label }}">Cuál/es:</label>
      {{ form.cooperante }}
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <a href="{% url 'polls:index' %}" class="btn btn-danger">Salir</a>
  </div>


  </form>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
  function toggleFields() {
    // Obtener el estado de los checkboxes
    var necesidadIdentificado = document.getElementById('necesidad_identificado').checked;
    var cooperanteIdentificado = document.getElementById('cooperante_identificado').checked;

    // Obtener los campos de texto
    var necesidadesIdentificadasField = document.getElementById('id_necesidades_identificadas');
    var cooperanteField = document.getElementById('id_cooperante');

    // Deshabilitar o habilitar los campos según el estado de los checkboxes
    necesidadesIdentificadasField.disabled = !necesidadIdentificado;
    cooperanteField.disabled = !cooperanteIdentificado;

    // Limpiar los campos si se desmarcan los checkboxes
    if (!necesidadIdentificado) {
      necesidadesIdentificadasField.value = '';  // Limpiar el campo de necesidades identificadas
    }
    if (!cooperanteIdentificado) {
      cooperanteField.value = '';  // Limpiar el campo de cooperante
    }

    // Hacer que los campos sean requeridos o no
    necesidadesIdentificadasField.required = necesidadIdentificado;
    cooperanteField.required = cooperanteIdentificado;
  }

  // Inicializar el estado de los campos en base a los valores del formulario al cargar la página
  document.addEventListener('DOMContentLoaded', function() {
    toggleFields();  // Ejecutar la función cuando la página haya cargado
  });
</script>
{% endblock %}
