{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Reportes Registrados</h1>

{% for reporte in reportes %}

  {% if reporte.estado == reporte.ESTADO_FINALIZADO %}
  <div class="row text-center mt-5">
    <div class="col-2">
      <strong>Período {{ reporte.periodo }}</strong>
    </div>
    <div class="col-2">
      {{ reporte.fecha_elaboracion|date:"d/m/Y" }}
    </div>
    <div class="col-2">
      <p>Reporte 1</p>
    </div>
    <div class="col-2">
      <p>Estado Finalizado</p>
    </div>
    <div class="col-2">
      <a href="{% url 'polls:reporte_pdf' reporte_id=reporte.id %}">Ver pdf</a>
    </div>
  </div>

  {% elif reporte.estado == reporte.ESTADO_DATOS or reporte.estado == reporte.ESTADO_ACERCAMIENTO or reporte.ESTADO_NECESIDADES %}
  <div class="row text-center mt-5">
    <div class="col-2">
      <strong>Período {{ reporte.periodo }}</strong>
    </div>
    <div class="col-2">
      {{ reporte.fecha_elaboracion|date:"d/m/Y" }}
    </div>
    <div class="col-2">
      <p>Reporte 1</p>
    </div>
    <div class="col-2">
      <a href="{% url 'polls:crear_datos_quien_reporta' reporte_id=reporte.id %}">Estado Pendiente</a>
    </div>

  </div>

  {% endif %}
  
{% endfor %}

{% endblock %}
