{% extends 'base.html' %}

{% block content %}

<div class="container w-lg-50 w-md-50 w-100 mt-4">
  
  <div class="form-container">
    <h5 class="text-center mb-4 form-title">Datos del cooperante y programa, proyecto o plan</h5>
  <!-- Alert messages -->
  {% if messages %}
    <div class="row">
      <div class="col-md-12">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  
  <form method="POST" action="{% url 'reporteProgramas:crear_datos_cooperante' reporte_id=reporte.id%}">
      {% csrf_token %}
      <div class="form-group">
          <label for="cooperante">Cooperante</label>
          <select id="cooperante" name="cooperante" class="form-control" required>
              <option value="">Seleccione un cooperante</option>
              <!-- Las opciones se llenarán dinámicamente -->
          </select>
      </div>

      <div class="form-group">
          <label for="identificacion">Identificación</label>
          <select id="identificacion" name="identificacion" class="form-control" required>
              <option value="">Seleccione una identificación</option>
          </select>
      </div>

      <div class="form-group">
          <label for="operador">Operador</label>
          <select id="operador" name="operador" class="form-control" required>
              <option value="">Seleccione un operador</option>
          </select>
      </div>

      <div class="form-group">
          <label for="proyecto_plan">Proyecto/Plan</label>
          <select id="proyecto_plan" name="proyecto_plan" class="form-control" required>
              <option value="">Seleccione un proyecto/plan</option>
          </select>
      </div>

      <div class="form-group">
          <label for="linea_accion">Línea de Acción</label>
          <select id="linea_accion" name="linea_accion" class="form-control" required>
              <option value="">Seleccione una línea de acción</option>
             
          </select>
      </div>

      <div class="form-group">
          <label for="rol">Rol</label>
          <select id="rol" name="rol" class="form-control" required>
              <option value="">Seleccione un rol</option>
              <option value="rol1">Rol 1</option>
              <option value="rol2">Rol 2</option>
              <option value="rol3">Rol 3</option>
          </select>
      </div>

      <div class="d-flex justify-content-center mt-3"> 
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'accounts:listar_reportes' %}" class="btn btn-danger">Salir</a>
      </div>

      
  </form>
</div>
</div>
<style>
    body {
        background-color: #e8f5e9;
    }
    .form-container {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .form-title {
        background-color: #f0f4c3;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
</style>

{% endblock %}

{% block extra_js %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const url = `{% url 'reporteProgramas:obtener_cooperantes' %}`;
    fetch(url)
        .then(response => response.json())
        .then(data => {
            const cooperanteSelect = document.getElementById('cooperante');
            data.cooperantes.forEach(cooperante => {
                const option = document.createElement('option');
                option.value = cooperante.id;
                option.textContent = cooperante.nombre;
                cooperanteSelect.appendChild(option);
            });
        })
        .catch(error => console.error('Error al cargar cooperantes:', error));
});

document.getElementById('cooperante').addEventListener('change', function() {
    const cooperanteId = this.value;
    const identificacionSelect = document.getElementById('identificacion');
    
    // Limpiar identificaciones anteriores y establecer el valor a vacío
    identificacionSelect.innerHTML = '<option value="">Seleccione una identificación</option>';
    identificacionSelect.value = ''; // Limpiar valor seleccionado
  
    const operadorSelect = document.getElementById('operador');
    operadorSelect.innerHTML = '<option value="">Seleccione un operador</option>'; // Limpiar operadores anteriores
    operadorSelect.value = ''; // Limpiar valor seleccionado
  
    const proyectoPlanSelect = document.getElementById('proyecto_plan');
    proyectoPlanSelect.innerHTML = '<option value="">Seleccione un proyecto/plan</option>'; // Limpiar proyectos/planes anteriores
    proyectoPlanSelect.value = ''; // Limpiar valor seleccionado
  
    const lineaAccionSelect = document.getElementById('linea_accion');
    lineaAccionSelect.innerHTML = '<option value="">Seleccione una línea de acción</option>'; // Limpiar líneas de acción anteriores
    lineaAccionSelect.value = ''; // Limpiar valor seleccionado

    if (cooperanteId) {
        const identificacionUrl = `{% url 'reporteProgramas:obtener_identificaciones' 0 %}`.replace('0', cooperanteId);

        fetch(identificacionUrl)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                data.identificaciones.forEach(identificacion => {
                    const option = document.createElement('option');
                    option.value = identificacion.id;
                    option.textContent = identificacion.identificacion;
                    identificacionSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error al cargar identificaciones:', error));
    }
});

document.getElementById('identificacion').addEventListener('change', function() {
    const identificacionId = this.value;
    console.log(identificacionId);
    const operadorSelect = document.getElementById('operador');

    // Limpiar operadores anteriores
    operadorSelect.innerHTML = '<option value="">Seleccione un operador</option>';

    const proyectoPlanSelect = document.getElementById('proyecto_plan');
    proyectoPlanSelect.innerHTML = '<option value="">Seleccione un proyecto/plan</option>'; // Limpiar proyectos/planes anteriores
    proyectoPlanSelect.value = ''; // Limpiar valor seleccionado
  
    const lineaAccionSelect = document.getElementById('linea_accion');
    lineaAccionSelect.innerHTML = '<option value="">Seleccione una línea de acción</option>'; // Limpiar líneas de acción anteriores
    lineaAccionSelect.value = ''; // Limpiar valor seleccionado

    if (identificacionId) {
        const operadorUrl = `{% url 'reporteProgramas:obtener_operadores' 0 %}`.replace('0', identificacionId);

        fetch(operadorUrl)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                data.operadores.forEach(operador => {
                    const option = document.createElement('option');
                    option.value = operador.id;
                    option.textContent = operador.nombre;
                    operadorSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error al cargar operadores:', error));
    }
});

document.getElementById('operador').addEventListener('change', function() {
    const cooperanteId = document.getElementById('cooperante').value;
    const identificacionId = document.getElementById('identificacion').value;
    const operadorId = this.value; // Obtener el valor directamente de 'this'

    // Limpiar proyectos/planes anteriores y establecer el valor a vacío
    const proyectoPlanSelect = document.getElementById('proyecto_plan');
    proyectoPlanSelect.innerHTML = '<option value="">Seleccione un proyecto/plan</option>';
    proyectoPlanSelect.value = ''; // Limpiar valor seleccionado

    const lineaAccionSelect = document.getElementById('linea_accion');
    lineaAccionSelect.innerHTML = '<option value="">Seleccione una línea de acción</option>'; // Limpiar líneas de acción anteriores
    lineaAccionSelect.value = ''; // Limpiar valor seleccionado

    if (cooperanteId && identificacionId && operadorId) {
        let url = "{% url 'reporteProgramas:obtener_proyectos_plan' 0 0 0 %}"
            .replace('0', cooperanteId)
            .replace('0', identificacionId)
            .replace('0', operadorId);

        fetch(url)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                proyectoPlanSelect.innerHTML = '<option value="">Seleccione un proyecto/plan</option>'; // Limpiar opciones anteriores
                data.proyectos_plan.forEach(proyecto => {
                    const option = document.createElement('option');
                    option.value = proyecto.id;
                    option.textContent = proyecto.nombre;
                    proyectoPlanSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error al cargar los proyectos plan:', error));
    }
});

document.getElementById('proyecto_plan').addEventListener('change', function() {
    const cooperanteId = document.getElementById('cooperante').value;
    const identificacionId = document.getElementById('identificacion').value;
    const operadorId = document.getElementById('operador').value;
    const proyectoId = this.value;  // Obtener el ID del proyecto/plan seleccionado

    const lineaAccionSelect = document.getElementById('linea_accion');

    // Limpiar líneas de acción anteriores
    lineaAccionSelect.innerHTML = '<option value="">Seleccione una línea de acción</option>';

    if (cooperanteId && identificacionId && operadorId && proyectoId) {
        // Generar la URL para obtener las líneas de acción
        const lineasAccionUrl = `{% url 'reporteProgramas:obtener_lineas_accion' 0 0 0 0 %}`
            .replace('0', cooperanteId)
            .replace('0', identificacionId)
            .replace('0', operadorId)
            .replace('0', proyectoId);

        fetch(lineasAccionUrl)
            .then(response => response.json())
            .then(data => {
                console.log(data); // Para depuración
                data.lineas_accion.forEach(linea => {
                    const option = document.createElement('option');
                    option.value = linea.id;
                    option.textContent = linea.nombre;
                    lineaAccionSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error al cargar líneas de acción:', error));
    }
});

</script>
{% endblock %}
