{% extends 'base.html' %}

{% block content %}
<div class="container w-lg-50 w-100 mt-4">
    <div class="form-container">
        <h5 class="text-center mb-4 form-title">Datos de quien reporta</h5>
            <form method="POST">
                {% csrf_token %}
                
                        <div class="row mb-3">
                            <label class="mb-1 p-0">Nombres y apellidos: </label>
                            {{ form.nombre_completo }}                    
                        </div>
                        <div class="row mb-3">
                            <label class="mb-1 p-0" >Rol:</label>
                            {{ form.rol }}
                        </div>
                        <div class="row mb-3">
                            <label class="mb-1 p-0">Dependencia:</label>
                            {{ form.dependencia }}
                        </div>
                        <!-- Añade aquí el resto de los campos del formulario -->
                        <div class="row mb-3">
                            <label class="mb-1 p-0">Correo electrónico</label>
                            {{ form.correo_electronico }}
                        </div>
                        <div class="row mb-3  ">
                            <label class="mb-1 p-0">Su correo electrónico institucional:</label>
                            {{ form.correo_electronico_institucional }}
                        </div>
                    
                        <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="{% url 'accounts:listar_reportes' %}" class="btn btn-danger">Salir</a>
                        </div> 
            </form>
        </div>
    </div>


<style>
    body {
        background-color: #e8f5e9;
    }
    .form-container {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .form-title {
        background-color: #f0f4c3;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
</style>
{% endblock %}
