{% extends 'base.html' %}

{% block content %}
  <h2>Listado de Reportes de Acercamiento</h2>
  <ul>
    {% for reporte in reportes %}
      <li>
        {{ reporte }} 
        <a href="{% url 'ver_datos_quien_reporta' reporte_id=reporte.id %}">ver datos quien reporta</a> | 
        <a href="{% url 'ver_acercamiento' reporte_id=reporte.id %}">ver datos de acercamiento</a> | 
        <a href="{% url 'ver_necesidades' reporte_id=reporte.id %}">ver datos de necesidades</a>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'crear_reporte_acercamiento' %}" class="btn btn-primary">
    Agregar reporte
</a>
  {% endblock %}
