{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h5 class="mb-3">Formularios completados para editar</h5>
    

    {% if reporte.avance == 15 %}
    <ol>
        <li>
            
            <a href="{% url 'reporteProgramas:editar_datos_quien_reporta' reporte.id %}" >Editar Datos de Quien Reporta</a>
        </li>

        <li>
           
            <a href="{% url 'reporteProgramas:editar_datos_cooperante' reporte.id %}" >Editar Datos Cooperante</a>
        </li>

        <li> 
            <a href="{% url 'reporteProgramas:editar_logros_avances' reporte.id %}" >Editar logros avances</a>
        </li>
    
        <li>
            <a href="{% url 'reporteAportes:editar_apoyo_eventos' reporte.id %}" >Editar Apoyo para asistir o realizar eventos</a>
        </li>

        <li>
            <a href="{% url 'reporteAportes:editar_apoyo_viajes' reporte.id %}" >Editar Apoyo para la realización de viajes</a>
        </li>

        <li>
            <a href="{% url 'reporteAportes:editar_apoyo_territorios' reporte.id %}" >Editar Apoyo para acceder a territorios o comunidades</a>
        </li>

        <li>
            <a href="{% url 'reporteAportes:editar_apoyo_contratacion' reporte.id %}" >Editar Apoyo a través de contratación de personal</a>
        </li>

        <li>
            <a href="{% url 'reporteAportes:editar_apoyo_material' reporte.id %}" >Editar Apoyo para la producción de materiales</a>
        </li>

        <li>
            <a href="{% url 'reporteAportes:editar_apoyo_herramientas' reporte.id %}" >Editar Apoyo de herramientas y/o equipos tecnológicos</a>
        </li>

        <li>
            <a href="{% url 'reporteAportes:editar_apoyo_litigio' reporte.id %}" >Editar Apoyo para el litigio de casos</a>
        </li>

        <li>
            
            <a href="{% url 'reporteAportes:editar_apoyo_seguridad_alimentaria' reporte.id %}" >Editar Apoyo para proyectos de seguridad alimentaria y productivos</a>
        </li>

        <li>
          
            <a href="{% url 'reporteAportes:editar_apoyo_ordenes_judiciales' reporte.id %}" >Editar Apoyo para el cumplimiento de órdenes judiciales</a>
        </li>

        <li>
         
            <a href="{% url 'reporteAportes:editar_apoyo_archivo_historico' reporte.id %}" >Editar Apoyo para la gestión del archivo histórico</a>
        </li>

        <li>
          
            <a href="{% url 'reporteAportes:editar_otros_apoyos' reporte.id %}" >Editar Otro tipo de apoyo </a>
        </li>

        <li>
           
            <a href="{% url 'reporteAportes:editar_estimacion_economica' reporte.id %}" >Editar Estimación Económica</a>
        </li>
        
    </ol>
    {% endif %}

    <a href="{% url 'accounts:listar_reportes' %}" class="btn btn-danger">Volver</a>
</div>



{% endblock %}
