{% extends 'base.html' %}

{% block content %}
  <h2>Crear Reporte de Avances</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
{% endblock %}
    
{% block extra_js %}
<script type="text/javascript">
  function updateFechas() {
      var periodo = document.getElementById('id_periodo').value;
      var hoy = new Date();
      var ano = hoy.getFullYear();
      
      var desde, hasta;
      
      if (periodo === '1') {
          desde = ano + '-01-01';
          hasta = ano + '-04-30';
      } else if (periodo === '2') {
          desde = ano + '-05-01';
          hasta = ano + '-08-31';
      } else if (periodo === '3') {
          desde = ano + '-09-01';
          hasta = ano + '-12-31';
      } else {
          desde = '';
          hasta = '';
      }

      document.getElementById('id_desde').value = desde;
      document.getElementById('id_hasta').value = hasta;
  }
</script>
{% endblock %}


