{% extends 'base.html' %} {% block content %}

<div class="container mt-4">
  <h5 class="mb-3">Formularios completados para editar</h5>

  {% if reporte.avance == 3 %}

  <ol>
    <li>
      <a
        href="{% url 'reporteAcercamientos:editar_datos_quien_reporta' reporte.id %}"
        >Editar Datos de Quien Reporta</a
      >
    </li>
    <!-- Iterar sobre los acercamientos -->

    <li>
      <a
        href="{% url 'reporteAcercamientos:editar_datos_acercamiento' reporte.id %}"
        >Editar Acercamiento de Cooperación internacional
      </a>
    </li>
    <!-- Editar formulario de necesidades -->

    <li>
      <a href="{% url 'reporteAcercamientos:editar_necesidades' reporte.id %}"
        >Editar pre-identificación de necesidades de Cooperación
        Internacional</a
      >
    </li>
    <a href="{% url 'accounts:listar_reportes' %}" class="btn btn-danger"
      >Salir</a
    >
  </ol>
  {% endif %}
</div>

{% endblock %}
